<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <!-- Template CSS -->
  </head>

  <body>
    <main class="">
      <section class="content-main">
        <div class="row mt-60">
          <div class="col-sm-12">
            <div class="w-50 mx-auto text-center">
              <img
                src="/admin/assets/imgs/theme/404.png"
                width="350"
                alt="Page Not Found"
              />
              <h3 class="mt-40 mb-15">Oops! Page not found</h3>
              <p>
                It's looking like you may have taken a wrong turn. Don't
                worry... it happens to the best of us. Here's a little tip that
                might help you get back on track.
              </p>
              <a href="/admin/dashboard" class="btn btn-primary mt-4"
                ><i class="material-icons md-keyboard_return"></i> Back to
                main</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- content-main end// -->
    </main>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script
      src="/admin/assets/js/main.js?v=1.1"
      type="text/javascript"
    ></script>
  </body>
</html>
