<%-include('../layout/adminHeader')-%>
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>
                        </div>
                        <% if(typeof successMsg != 'undefined'){ %>
                            <p class="text-center text-success mb-5" id="text-danger"><%= successMsg %></p>  
                           <% } %>
                           <% if(typeof warningMsg != 'undefined'){ %>
                            <p class="text-center text-danger  mb-5" id="text-danger"><%= warningMsg %></p> 
                           <% } %>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data" id="uploadForm">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product title</label>
                                        <input  required type="text" placeholder="Type here" name="productName" class="form-control" id="textInput" />
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <textarea placeholder="Type here" name="description" class="form-control" rows="4" required></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Price</label>
                                                <div class="row gx-2">
                                                    <input required placeholder="Rs" name="price" type="number" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Quantity</label>
                                                <div class="row gx-2">
                                                    <input required placeholder="Qty" name="quantity" type="number" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Category</label>
                                                <select name="category" class="form-select">
                                                    <%if(categoryData.length>0){
                                                        categoryData.forEach((item)=>{%>
                                                            <option><%=item.categoryName%></option>
                                                        <%})
                                                    }else{%>
                                                        <option></option>
                                                        <%}%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                        <!-- card end// -->
                        
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5>Upload images</h5>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="assets/imgs/theme/upload.svg" alt="" />
                                    <input class="form-control" name="images" type="file" accept="image/*" multiple/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ">
                        <button class="btn btn-md rounded font-sm hover-up">Add Product</button>
                    </div>
                </form>
                </div>
            </section>
        </main>
        <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin/assets/js/vendors/select2.min.js"></script>
        <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>
        
       
    </body>
</html>
