<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>eStore Admin Panel</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Template CSS -->
        <link href="/admin/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

        
    </head>

    <body>
        <main>
            <section class="content-main">
                <div class="card mx-auto card-login ">
                    <div class="card-body">
                        <h4 class="card-title mb-4 text-center">Admin Login</h4>
                        <form action="/admin" method="post">
                            <div class="mb-3">
                                <input class="form-control" name="email" placeholder="Your email" type="email" required/>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <input class="form-control" name="password" placeholder="Password" type="password" required/>
                            </div>
                            <!-- form-group// -->
                            <!-- <div class="mb-3">
                                <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" checked="" />
                                    <span class="form-check-label">Remember</span>
                                </label>
                            </div> -->
                            <!-- form-group form-check .// -->
                            <div class="mb-2 mt-4 ">
                                <button type="submit" class=" justify-content-center btn btn-primary w-100 ">Login</button>

                                <% if(typeof msg != 'undefined'){ %>
                                    <p class="text-primary-50 text-center mb-5" id="text-danger"><%= msg %></p> 
                                   <% } %>
                            </div>

                            <!-- form-group// -->
                        </form>
                        
                    </div>
                </div>
            </section>
        </main>
        <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
