<div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
    <div class="product">
        <figure class="product-media">
            <!-- <span class="product-label label-new">New</span> -->
            <a href="/product/${element._id}">
                <img src="/${element.imagePaths[0]}" alt="Product image" class="product-image">
            </a>

            <div class="product-action-vertical">
                <a href="" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
            </div><!-- End .product-action -->

            <div class="product-action action-icon">
                <a href="/addToCart/${element._id}" class="btn-product btn-cart"><span>add to cart</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">${element.categoryId.categoryName}</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">${element.productName}</a></h3><!-- End .product-title -->
            <div class="product-price">
                ₹${element.price}
            </div><!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">( 0 Reviews )</span>
            </div><!-- End .rating-container -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->