<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eStore ecommerce</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
   
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/style.css">

    <!-- ----------FOR HOME PAGE------------ -->
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/demos/demo-16.css">

    <!-- Style CSS OTP-->
    <link rel="stylesheet" href="/user/assets/css/otpstyle.css">
</head>

        <body>
            <div class="page-wrapper">
                <header class="header header-6">
                    <div class="header-middle">
                        <div class="container">
                            <div class="header-left">
                                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                    <form action="#" method="get">
                                        <div class="header-search-wrapper search-wrapper-wide">
                                            <label for="q" class="sr-only">Search</label>
                                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                            <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                        </div><!-- End .header-search-wrapper -->
                                    </form>
                                </div><!-- End .header-search -->
                            </div>
                            <div class="header-center">
                                <a href="#" class="logo">
                                    <h3 class="mt-2">eStore</h3>
                                </a>
                            </div><!-- End .header-left -->
        
                            <div class="header-right">
                                <a href="/wishlist" class="wishlist-link">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-txt">My Wishlist</span>
                                </a>
        
                                <div class="dropdown cart-dropdown">
                                    <a href="/cart" class="dropdown-toggle" role="button"
                                        aria-haspopup="true" aria-expanded="false" data-display="static">
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                </div><!-- End .cart-dropdown -->
                            </div>
                        </div><!-- End .container -->
                    </div><!-- End .header-middle -->
        
                    <div class="header-bottom sticky-header">
                        <div class="container">
                            <div class="header-left">
                                <nav class="main-nav">
                                    <ul class="menu sf-arrows">
                                        <li class="megamenu-container ">
                                            <a href="/home" class="p-5">Home</a>
        
                                        </li>
                                        <li>
                                            <a href="/products" class="p-5">Product</a>
                                        </li>
                                        <li>
                                            <a href="/about" class="p-5">About</a>
                                        </li>
                                        <li>
                                            <a href="contact" class="p-5">Contact</a>
                                        </li>
                                    </ul><!-- End .menu -->
                                </nav><!-- End .main-nav -->
        
                                <button class="mobile-menu-toggler">
                                    <span class="sr-only">Toggle mobile menu</span>
                                    <i class="icon-bars"></i>
                                </button>
                            </div><!-- End .header-left -->
        
                            <div class="header-right">
                                <ul class="menu sf-arrows ">
                                    <li class="megamenu-container ">
    
                                    
                                        <a href="/login" class="">Login</a>
    
                                    </li>
                                    <li class="megamenu-container">
    
                                    
                                        <a href="/signup" class="">Signup</a>
    
                                    </li>
                                </ul>
                            </div>
                        </div><!-- End .container -->
                    </div><!-- End .header-bottom -->
                </header><!-- End .header -->
                <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/products">Product</a>
                    </li>
                    <li>
                        <a href="/about" class="sf-with-ul">About</a>
                    </li>
                    <li>
                        <a href="/contact" class="sf-with-ul">Contact</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    