<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eStore ecommerce</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
   
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/style.css">

    <!-- ----------FOR HOME PAGE------------ -->
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/demos/demo-16.css">

    <!-- Style CSS OTP-->
    <link rel="stylesheet" href="/user/assets/css/otpstyle.css">
</head>

<body>

    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
    
    
    
    
                    <div class="header-middle sticky-header">
                        <div class="container">
                            <div class="header-left">
    
                                <a href="index.html" class="logo">
                                    <h3 class="mt-2">eStore</h3>
                                </a>
    
                                <nav class="main-nav">
                                    <ul class="menu sf-arrows">
                                        <li class="megamenu-container active">
                                            <a href="/" class="">Home</a>
    
    
                                        <li>
                                            <a href="/login" class="">About</a>
    
    
                                        <li>
                                            <a href="/login" class="">Product</a>
    
    
                                        <li>
                                            <a href="/login" class="">Contact</a>
    
    
                                       
                                </nav><!-- End .main-nav -->
                            </div><!-- End .header-left -->
    
                            <div class="header-right">
                                <div class="header-search">
                                    <a href="#" class="search-toggle" role="button" title="Search"><i
                                            class="icon-search"></i></a>
                                    <form action="#" method="get">
                                        <div class="header-search-wrapper">
                                            <label for="q" class="sr-only">Search</label>
                                            <input type="search" class="form-control" name="q" id="q"
                                                placeholder="Search in..." required>
                                        </div><!-- End .header-search-wrapper -->
                                    </form>
                                </div><!-- End .header-search -->
                                <nav class="main-nav">
                                    <ul class="menu sf-arrows">
                                        <li class="megamenu-container">
    
                                        
                                            <a href="/login" class="">Login</a>

                                        </li>
                                        <li class="megamenu-container">
    
                                        
                                            <a href="/signup" class="">Sinup</a>

                                        </li>
                                    </ul>
                                       
                                </nav><!-- End .main-nav -->
                            </div><!-- End .header-left -->
    
    
                            
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
        </header><!-- End .header -->
    